.intestazione{
  width: 100%;
  height: 70px;
  background-color: #4EA0FF;
  background-image: url(../img/pattern.png) ;
  background-size: contain;
  }

 .intestazione img{
   width: 200px;
   padding-top: 20px;
 }