body{
  width: 800px;
}

.intestazione{
  width: 100%;
  height: 70px;
  background-color: #4EA0FF;
  background-image: url(../img/pattern.png) ;
  background-size: contain;
  }

 .intestazione img{
   width: 200px;
   padding-top: 20px;
 }

 .info-articolo{
   color: #777777;
 }

.autore{
  font-size: 14px;
}

.autore-articolo{
  text-decoration: none;
}

#data{
  font-size: 12px;
}